<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <style>
      .box {
      padding: 100px 0;
      width: 400px;
      text-align: center;
      background-color: #ddd;
      margin: 20px;
      display: inline-block;
      }    
    </style>
  </head>
  <body>
    <div id="app">

      <div v-if="showBook">
        <!-- instead of this -->
        <!-- <p>{{books[0].title}} - {{books[0].author}}</p>
        <p>{{books[1].title}} - {{books[1].author}}</p>
        <p>{{books[2].title}} - {{books[2].author}}</p>
        <p>{{books[3].title}} - {{books[3].author}}</p> -->

        <!-- we can use this  -->

        <ul>
          <li v-for="book in books">
            <h3>{{book.title}}</h3>
            <p>{{book.author}}</p>
          </li>
        </ul>
      </div>


      <button @click= "toggleShowBook" >
       <span v-if="!showBook">Show Book</span>
       <span v-else>Hide Book</span>
      </button>


    </div>
    <script src="app.js"></script>
  </body>
</html>
