<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <style>
      body{
        background: #eee;
        max-width: 960px;
        margin: 20px auto;
      }
      p, h3, ul{
        margin: 0;
        padding: 0;
      }    
      li{
        list-style-type: none;
        background: #FFF;
        margin: 20px auto;
        padding: 10px 20px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      li.fav{
        background: #ff8e;
        color: black;
      }
    </style>
  </head>
  <body>
    <div id="app">

      <!-- attribut binding  -->
       <!-- is when is bind dynamic values to html attributes -->
        <!-- Example of attribute binding: binding a dynamic URL to the href attribute -->
        <!-- <a :href="url" target="_blank">Visit Vue.js</a> -->
     <!-- <a v-bind:href="url">this is a website</a> or -->
     <a :href="url">this is a website</a> 

      <div v-if="showBook">
        <ul>
          <li v-for="book in books" :class="{fav: book.isFav}" @click="toggleisFav(book)">
            <img :src="book.img" alt="book.title">
            <h3>{{book.title}}</h3>
            <p>{{book.author}} </p>
          </li>
        </ul>
      </div>


      <button @click= "toggleShowBook" >
       <span v-if="!showBook">Show Book</span>
       <span v-else>Hide Book</span>
      </button>


    </div>
    <script src="app.js"></script>
  </body>
</html>
